<div class="meetup-wrapper">
  <div class="main-text">
    <h1>Next Meetup</h1>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
  </div>
  <div class="map">
    <ngui-map center="2931 1st Avenue S, Seattle, WA 98134">
      <marker *ngFor="let pos of positions"
         (click)="showInfoWindow($event)"
         [position]="pos"
         [title] = 'city'>
        <info-window id="detail" [position] = "pos" [content]='city'></info-window>
       </marker>

    </ngui-map>
  </div>
</div>
