<app-navbar [page]="'join'"></app-navbar>
<div class="header">
  <h1>Group Name/Logo</h1>
  <p>
    We meet every quarter to choose and fund a new charitable organization. This is your chance to be part of (GROUP NAME) powered by the Giving Group. By signing up below we will charge your credit card $103.00 each quarter ($100.00 Gift and a 3% credit card processing fee) which will show up on your credit card statment as “The Giving Group”. You can skip a payment or cancel your membership at any time! After signing up, you’ll receive a unique link via email to manage your account.
  </p>
</div>

<div class="wrapper">
<app-billing-info class="app-billing-info"></app-billing-info>
<app-payment-method class="payment-method"></app-payment-method>
</div>
