@import "src/variables";

.main-text {
  text-align: center;
  h1 {
    font-size: 3rem;
    color:$primary;
    margin: 10px;
  }
  p {
    color: $white;
    font-size: 1.0em;
  }
  button {
    margin: 10px;
  }
}

.container {
  padding: 5%;
}

.bg-image {
  background-image: url('/assets/img/conference.jpg');
  background-position: center;
  background-size: cover;
}

@media(min-width:$desktop) {
  .main-text {
    h1 {
      font-size: 5rem;
    }
    p {
      font-size: 1.3em;
    }
  }

  .container {
    padding: 8% 10% 15%;
  }
}
